# =========================
# Node / Express
# =========================
node_modules/


# =========================
# Environment variables
# =========================
# .env


# =========================
# Build / dist
# =========================

build/